<h2 class="text-center">Weekly event table</h2><hr>
<div id="events">
  <table class="table table-bordered">
    <%# Head of the calendar, show the dates of the current week %>
    <thead class="thead-light">
      <tr>
        <th @click="openCreateForm(date)" class="text-center" v-for="date in weekArray">
          {{date}}
        </th>
      </tr>
    </thead>
    
    <%# Second row of the calendar, show the events %>
      <tbody>
        <tr>
          <td @click="openCreateForm(date)" v-for="date in weekArray">
            <span v-if="currentWeekEvents[date]">
              <ul v-for="event in currentWeekEvents[date]">
                <li @click.stop="getCurrentEventParams(event)">{{ event.id }}</li>
              </ul>
            </span>
          </td>
        </tr>
      </tbody>
  </table>

  <create-form :current-week-events="currentWeekEvents" :max-date="maxDate" :min-date="minDate" :errors="errors" :date="selectedDate" v-if="showCreateModal" @close="showCreateModal = false"></create-form>
  
  <%#check if we need start-time%>
  <edit-delete-form :current-week-events="currentWeekEvents" :max-date="maxDate" :min-date="minDate" :errors="errors" :event-id="eventId" :event="event" :date="currentEventDate" :start-time="startTime" :end-time="endTime" v-if="showEditDeleteModal" @close="showEditDeleteModal = false"></edit-delete-form>

  <%# template for the create event %>
  <%= render 'partials/create_event_form' %>

  <%# template for the Edit/Delete event %>
  <%= render 'partials/edit_delete_event_form' %>
</div>